$("#follow_form").html("<%= j(render("users/unfollow")) %>");
$("#follower-count_<%= @user.id %>").html('<h5>フォロワー<%= @user.followers.count %>人</h5>');
$("#followed-count_<%= @user.id %>").html('<h5>フォロー<%= @user.followed.count %>人</h5>');