<header class="l-header">
  <div class="l-header_link">
    <%= link_to root_path, class: 'l-header_link_logo' do %>
      <h1><%= image_tag 'image/logo.png', alt: 'Three-Syle' %></h1>
    <% end %> 

    <% if user_signed_in? %>
      <%# ログイン時 %>
      <%= link_to "TOP", root_path, class: "l-header_link_item" %>
      <%= link_to 'ホーム', posts_path, class: "l-header_link_item" %>
      <%= link_to 'ユーザー一覧', users_path, class: "l-header_link_item" %>
      <%= link_to 'マイページ', user_path(current_user), class: "l-header_link_item" %>
      <%= link_to "アカウント", edit_user_registration_path, class: "l-header_link_item" %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { confirm: "ログアウトしますか？" }, class: "l-header_link_item" %>
      <%= "【ログイン中】#{current_user.name}" %>
    <% else %>
      <%# 非ログイン時 %>
      <%= link_to "トップ", root_path, class: "l-header_link_item" %>
      <%= link_to "新規登録", new_user_registration_path, class: "l-header_link_item" %>
      <%= link_to "ログイン", new_user_session_path, class: "l-header_link_item" %>
    <% end %>

  </div>
</header>