<header class="p-header">
  <div class="p-header_link">

    <% if user_signed_in? %>
      <%# ログイン時 %>
      <%= link_to "TOP", root_path, class: "p-header_link_item" %>
      <%= link_to 'ホーム', posts_path, class: "p-header_link_item" %>
      <%= link_to 'ユーザー一覧', users_path, class: "p-header_link_item" %>
      <%= link_to 'マイページ', user_path(current_user), class: "p-header_link_item" %>
      <%= link_to "アカウント", edit_user_registration_path, class: "p-header_link_item" %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { confirm: "ログアウトしますか？" }, class: "p-header_link_item" %>
      <%= "【ログイン中】#{current_user.name}" %>
    <% else %>
      <%# 非ログイン時 %>
      <%= link_to "トップ", root_path, class: "p-header_link_item" %>
      <%= link_to "新規登録", new_user_registration_path, class: "p-header_link_item" %>
      <%= link_to "ログイン", new_user_session_path, class: "p-header_link_item" %>
    <% end %>

  </div>
</header>