<h1>新規投稿</h1>
<%= form_with model: @post, local: true do |f| %>
  <p><%= f.label :genre, "ジャンル" %> <%= f.select :genre, Post.genres.keys %></p>
  <p><%= f.label :content, "投稿内容" %> <%= f.text_field :content %></p>
  <%= f.submit "送信" %>
<% end %>